extends template.pug
include mixin.pug 

block variables
    - var dictMenu = {'Главная': 'index.html', 'Войти': "lk.html"} //войти должно смениться на выйти после авторизации/регистрации
    - var dictBar = {'home.png': 'index.html', 'lk.png': "lk.html", 'mapicon.png': 'map.html'} //если пользователь не авторизовон, то лк перекидавает на войти
    - var head = "Чанша 长沙市"
    - var title = "Провинция Хунань 湖南 г. Чанша 长沙市"
    - var css = 'location.css'
    - var buttonList = {'Еда 中国菜':'chanshaFood.html', 'Достопримечательности 名胜古迹':'#','Еще одна категория':'#'}
    - var distTitles = {'Хунань 湖南':'chansha.html'}

block page 

    div(class="page")
        block header
            header
                img(src="img/chansha.png")
                h1 Провинция Хунань 湖南 <br> г. Чанша 长沙市
        block content 
            article
                div(class="info") 
                    p <b>Хунань</b> – провинция на юге Китая, расположеная к югу от крупного озера Дунтин (Дунтинху). Это обстоятельство и повлияло на название региона, которое на русский переводится как «Провинция к Югу от Озера»., расположенна в горной местности. На северо-востоке этого региона в городе Шаошань в 1893 года родился Мао Цзэдун. <br> 
                    p Город <b>Чанша</b> – административный центр провинции Хунань. Расположен он на реке Сянцзян, в гористой местности, между горной вершиной Юэлушань на западе и реками Люянхэ и Лаодаохэ на востоке. <br> 
                    p Население Чанша составляет 6,529 человек, большинство жителей города – этнические китайцы. 
                div 
                    +createButtons(buttonList)



