extends template.pug
include mixin.pug 

block variables
    - var dictMenu = {'Главная': 'index.html', 'Войти': "lk.html"} //войти должно смениться на выйти после авторизации/регистрации
    - var dictBar = {'home.png': 'index.html', 'lk.png': "lk.html", 'mapicon.png': 'map.html'} //если пользователь не авторизовон, то лк перекидавает на войти
    - var head = "Еда 中国菜"
    - var title = "Еда 中国菜"
    - var css = 'words.css'
    //- - var buttonList = {'Еда 中国菜':'chanshaFood.html', 'Достопримечательности 名胜古迹':'#','Еще одна категория':'#'}
    - var distTitles = {'Хунань 湖南':'chansha.html', 'Еда 中国菜':'chanshaFood.html'}

block page
    div(class="page")
        block header
            header
                h1 Еда 中国菜

        block content 
            div(class="spin", id="spin")
                input(type="image", src="img/card.png", alt="Кнопка «input»", onClick="flesh('spin')")
                    //- img(src="card.png")
                div(class="sound")
                    img(src="img/sound.png")
                div(class="char") 臭豆腐
                div(class="phen") chòudòufu

block append scripts 
    script(src="flesh.js")